/* En algún archivo de estilos global o específico para la sección de contenido */

#contenido {
  text-align: center;
  padding: 20px;
}

#contenido h1 {
  font-family: 'Georgia', serif;
  font-size: 3em;
  margin-bottom: 20px;
}

#contenido p {
  font-size: 1.2em;
  margin-bottom: 15px;
}

#contenido h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.portada-container {
  position: relative;
  width: 100%;
  max-height: 70vh; /* Establece una altura máxima para la imagen en dispositivos móviles */
  overflow: hidden;
}

.portada-container img {
  width: 100%;
  height: auto; /* Hace que la altura se ajuste automáticamente para mantener la proporción */
  display: block;
}

.logo-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #41a6b3cc;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
  font-family: 'Caveat', cursive;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .portada-container {
    max-height: 50vh; /* Ajusta según sea necesario para dispositivos móviles */
  }

  .logo-text {
    font-size: 30px; /* Ajusta el tamaño del texto en dispositivos móviles */
  }
}
