<section id="contenido">
    <!-- En tu archivo HTML, dentro de la sección <head> -->

        <div class="portada-container">
            <img src="assets/portada.jpeg" alt="Logo de la aplicación">
            <div class="logo-text">Ellas y Ellos: Elevando la Elegancia para Todos</div>
        </div>
          
    <p>Bienvenido a Ellas y Ellos, donde la moda se encuentra con la diversidad y la elegancia se adapta a todos los estilos. Somos más que una marca de ropa; somos una expresión de individualidad, diseñada para abrazar la diversidad de género con estilo y sofisticación. En Ellas y Ellos, creemos en la moda como una forma de empoderamiento. Nuestra colección refleja la riqueza de la diversidad de género, ofreciendo opciones de moda contemporánea que trascienden las barreras tradicionales. Desde prendas con cortes fluidos hasta diseños más estructurados, cada pieza es una obra maestra que celebra la belleza en todas sus formas.</p>
    <p>Nos enorgullece crear ropa que no solo sigue las últimas tendencias, sino que también desafía las normas preestablecidas. Nuestra atención meticulosa a los detalles y la calidad de los materiales garantiza que cada prenda no solo sea estilizada, sino también cómoda y duradera. En Ellas y Ellos, la inclusividad es nuestro lema. Nuestro compromiso con la diversidad de tallas y estilos significa que todos pueden encontrar la prenda perfecta que se adapte a su personalidad única. Desde líneas de ropa casual hasta opciones elegantes para ocasiones especiales, ofrecemos una amplia gama que complementa a cada individuo.</p>
    <p>Únete a la revolución de la moda inclusiva con Ellas y Ellos. Donde la moda se encuentra con la diversidad y la elegancia es para todos. ¡Descubre tu estilo único con nosotros!</p>
    <h2>Misión</h2>
        <p> Ofrecemos una moda de cualidad accesible a varios clientes al precios muy atractivos. Podemos ofrecer a nuestros clientes una opción mas sostenible.</p>
    <h2>Visión</h2>
        <p>Nuestra visión es que todas las operaciones de nuestra actividad se realicen de un modo económico, social y medioambientalmente sostenible. Esto significa que nuestra actividad debe contribuir a satisfacer las necesidades de generaciones presentes y futuras. Creemos que es posible diseñar y vender moda de calidad a un precio asequible y de manera social y medioambientalmente responsable. Con esta idea en mente, nuestra idea comercial es sencilla: ofrecer moda y calidad al mejor precio. Nuestra visión es orientada en el futuro, una internacionalización es decir implantar tiendas en el mundo.</p>
    

  </section>
