.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  width: 300px; /* Puedes ajustar el ancho según tus preferencias */
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-details {
  margin-top: 10px;
}

.product-name {
  font-weight: bold;
}

.product-stock, .product-price {
  color: #555;
}
