nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.logo-container {
  flex-shrink: 0;
}

.logo-container img {
  width: 100px;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 10px;
  background-color: #f9f7f7;
  border-radius: 15px;
  
}

nav a:nth-last-child(-n+3) {
  margin-left: auto;
}







