<!-- menu.component.html -->
<!DOCTYPE html>
<html lang="es">
<body>
    <div class="menu">
        <nav>
            <div class="logo-container">
                <img src="assets/ellos logo.png" alt="Logo de la aplicación">
            </div>
            <a href="#" routerLink="components/IniciarSesion">Iniciar Sesión</a>
            <a href="#" routerLink="components/inicio">Inicio</a>
            <a href="#" routerLink="components/producto">Producto</a>
            <a href="#" routerLink="components/detalle-factura">Carrito</a>
            <!-- <a href="#" [routerLink]="productoHabilitado ? 'components/producto' : ''" [ngClass]="{ 'disabled': !productoHabilitado }">Producto</a>
            <a href="#" [routerLink]="carritoHabilitado ? 'components/detalle-factura' : ''" [ngClass]="{ 'disabled': !carritoHabilitado }">Carrito</a> -->
        </nav>
    </div>
</body>
</html>
